/*https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4c01399b01c8b4b1c5a8cfcdee7cfea2*/

html {
    height: 100%;
}

.navbar-default .navbar-brand {
    color: black;
}

body {
    background: url(https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4c01399b01c8b4b1c5a8cfcdee7cfea2);
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
}

.center {
    text-align: center;
    padding-top: 15%;
}

h1,
p {
    color: white;
}

h2 > span {
    color: white;
}

#login {
    min-width: 210px;
    /*    width changed after recording*/
    background-color: rgba(255, 255, 255, 0.7);
    padding: 14px 14px 0;
    overflow: hidden;
}

#login .social-buttons {
    margin: 12px 0;
}

.btn-fb {
    color: #fff;
    background-color: #3b599d;
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
    /*    float property added after recording*/
    float: right;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc;
}

@media (max-width: 768px) {
    h1 {
        background-color: #449d44;
    }

    h2 {
        background-color: #449d44;
    }
}

@media (min-width: 768px) {
    h1 {
        background-color: skyblue;
        opacity: 0.8;
    }
}