body {
  height: 100%;
  font-family: "RocknRoll One", sans-serif;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30%;
  margin-left: -50%;
  z-index: 1;
}

a {
  display: inline-block;
  padding: 12px 48px;
  border: solid 4px rgb(255, 66, 100);
  text-decoration: none;
  font-size: 24px;
  color: rgb(255, 66, 100);
}

div {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  margin-top: 100px;
  text-align: center;
}

h1 {
  margin-bottom: 25px;
  color: rgb(39, 39, 39);
  font-size: 44px;
  background-color: yellow;
  opacity: 0.7;
  color: black;
}

p {
  color: white;
  background-color: tomato;
  opacity: 0.7;
  font-size: 24px;
}
