@import "https://fonts.googleapis.com/css?family=Bungee+Shade";

html,
body {
  height: 100%;
}

#clock {
  color: #fff;
  font-family: "Bungee Shade", cursive;
  font-size: 15em;
  position: relative;
  top: 50%;
  margin-top: -175px;
  text-align: center;
}
